@import "../util.less";

@height: 18px;

.menu-sider {
  .logo {
    font-size: @height;
  }

  .two-chinese-chars:first-letter {
    letter-spacing: 0.34em;
  }

  .title {
    display: inline-block;
    line-height: @height;
  }
}